.bgColorDarkGrayHalfOpacity{
    background-color: hsla(0,0%,33%,0.5);
}
.bgColorDarkGray{
    background-color: hsl(0,0%,33%);
}
.bgColorGray{
    background-color: hsl(0,0%,50%);
}
.bgColorLightGray{
    background-color: hsl(0,0%,80%);
}
.bgColorBrown{
    background-color: hsla(59, 100%, 50%, 0.2);
}
body{
    margin: 0;
    padding: 0;
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 400px
}
.sectionCreateProject{
    padding: 10px 30px 10px 30px;
}
.sectionCreateProject > button{
    border-radius: 0;
    border: 0;
    font-weight: 700;
    padding: 4px;
}
.sectionProject{
    flex-basis: 80%;
    margin: 10px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.logoTodo{
    width: 50px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-basis: 20%;
}
nav > img{
    flex-basis: 160px;

}
nav > p{
    font-weight: 700;
    font-size: 36px;
}
.divProjectList{
    padding: 0px 20px 0px 20px;
    flex-basis: 10%;
    font-weight: 1000;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.pTodoCount{
    font-size: 14px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
}
.divProjectList:hover{
    background-color: hsla(0,0%,0%,0.25);
}
main{
    flex-basis: 80%;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: column;
}
.headerProjectTitle{
    display: flex;
    justify-content: space-between;
};
h1{
    font-weight: 700;
    font-size: 48px;
}

.sectionTodo{
    flex-basis: 90%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    overflow-y: auto;
    gap: 20px;
}

.divTodoList{
    flex-basis: 22%;
    height: 300px;
    padding: 10px 20px;
}
.divTodoList:hover{
    background-color: hsla(0,0%,0%,0.25);
}
.buttonDelete{
    border-radius: 0;
    border: 0px;
    height: 30px;
    width: 60px;
    justify-self: center;
    align-self: center;
};
.divInputCreate{
    display: flex;
    justify-content: center;
    align-content: center;
}
.divAdd{
    display: flex;
    justify-content: center;
    align-items: center;
};
.divAddSmall{
};